@media (min-width: 2200px){
  .row-cols-xxxl-5 > * {
      flex: 0 0 auto;
      width: 20%;
  }
}

@media (min-width: 2200px){
  .col-xxxl-3 {
      flex: 0 0 auto;
      width: 25%;
  }
  .col-xxxl-4 {
      flex: 0 0 auto;
      width: 33%;
  }
  .col-xxxl-9 {
      flex: 0 0 auto;
      width: 75%;
  }
}