.gauge-container {
  // width: 150px;
  // height: 135px;  
  width: 100%;
  height: auto;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.gauge-container > .gauge > .dial {
  stroke-width: 2;
  stroke-linecap: round;
}
.gauge-container > .gauge.dark > .dial {
  stroke: rgba(35,40,46, 0.1);
}
.gauge-container > .gauge.light > .dial {
  stroke: rgba(244,244,244, 0.1);
}

.gauge-container > .gauge > .value {
  stroke-width: 7;
  stroke-linecap: round;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge.dark > .value {
  stroke: var(--bg-dark);
}
.gauge-container > .gauge.light > .value {
  stroke: var(--bg-light);
}

.gauge-container > .gauge > .value-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}
.gauge-container > .gauge.dark > .value-text {
  fill: var(--text-dark);
}
.gauge-container > .gauge.light > .value-text {
  fill: var(--text-light);
}
