@import "./extensions.scss";

:root{
  --bg-dark: #23282E;
  --text-dark: #23282E;
  --bg-light: #f4f4f4;
  --text-light: #f4f4f4;
  --bg-primary: #f6e6d9;
  --text-primary: #f6e6d9;

  // RGB components of above colors
  // to use when transparency is needed (via grba)
  --color-dark--r: 35;
  --color-dark--g: 40;
  --color-dark--b: 46;
  --color-light--r: 244;
  --color-light--g: 244;
  --color-light--b: 244;
  --color-primary--r: 246;
  --color-primary--g: 230;
  --color-primary--b: 217;
}

.dark{
  --bg-color: var(--bg-dark);
  --text-color: var(--text-light);

  --bg-color-r: var(--color-dark--r);
  --bg-color-g: var(--color-dark--g);
  --bg-color-b: var(--color-dark--b);
  --text-color-r: var(--color-light--r);
  --text-color-g: var(--color-light--g);
  --text-color-b: var(--color-light--b);
}

.light{
  --bg-color: var(--bg-light);
  --text-color: var(--text-dark);

  --bg-color-r: var(--color-light--r);
  --bg-color-g: var(--color-light--g);
  --bg-color-b: var(--color-light--b);
  --text-color-r: var(--color-dark--r);
  --text-color-g: var(--color-dark--g);
  --text-color-b: var(--color-dark--b);
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 500ms ease-in-out, color 850ms ease-in-out;
}

.bg-adaptive{
  background-color: var(--bg-color);
}

.text-adaptive{
  color: var(--text-color);
}

.fullscreen{
  min-height: calc(100vh - 58px);
}

a{
  color: currentColor;

  &:hover, &:active{
    color: var(--text-color);
  }
}

input.form-control{
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
}

.block-link:hover{
  color: var(--bg-color);
  background-color: var(--text-color);
}

.btn{
  color: var(--text-color);
  &.btn-primary{
    color: var(--text-light);
  }
  &:hover{
    color: var(--text-color);
  }
}

.btn-outline{
  color: var(--text-color);
  border-color: var(--text-color);

  &:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
  }

  &.active{
    color: var(--bg-color);
    background-color: var(--text-color);
    border-color: var(--text-color);

    &:hover{
      background-color: var(--bg-primary);
      border-color: var(--bg-dark);
      color: var(--text-dark);
    }
  }
}

.btn-fill{
  color: var(--bg-color);
  background-color: var(--text-color);
}

.font-serif{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.font-sans-serif{
  font-family: var(--bs-font-sans-serif);
}

.font-monospace{
  font-family: var(--bs-font-monospace);
}

#sidebar{
  // height: 100vh;
  width: 280px;
  transition: width 0.1s ease;
}

#sidebar-inner{
  height: 100vh;
  width: 280px;
  transition: width 0.1s ease;
}

#sidebar.collapsing{
  width: 0;
  overflow: hidden;
}

#sidebar.collapsing #sidebar-inner{
  width: 0;
  overflow: hidden;
}

#sidebar-toggler{
  position: absolute;
  left: 0;
  top: 0;
}

#logo i{
  font-size: 32px;
}

.card{
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: none;

  &.card-outline{
    border: 1px solid var(--text-color);
  }
}

.color-block{
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: block;
  border-radius: 0.25rem 0.25rem 0 0;

  @media (max-width: 576px){
    min-height: 200px;
    border-radius: 0.25rem 0 0 0.25rem;
  }

  @media (min-width: 2200px){
    min-height: 100px;
    border-radius: 0.25rem 0 0 0.25rem;
  }

}

.code{
  font-family: monospace;
  padding: 0.5rem 0.75rem;
  /* border: 1px solid #0000ef; */
  background-color: #efefff;
  border-radius: 0.25rem;
  font-size: 16px;
  color: #0000ef;
}

.color-code{
  width: 50px;
}

.dropdown-menu{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dropdown-item{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dropdown-item:hover{
  background-color: var(--text-color);
  color: var(--bg-color);
}


.dropdown-menu-horizontal.show{
  display: flex;
  flex-direction: row;
  padding: 0;
  border: none;
  border-radius: unset;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid var(--text-color);
  transform: translate(0px, 64px) !important;
}

.dropdown-menu-horizontal.full-width{
  width: 100%;
}

.pos-initial{
  position: initial;
}

.dropdown-column{
  border-right:1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0 0 0;
}

.continuous{
  border-right: none;
}

.dropdown-column:last-of-type{
  border-right: none;
}

.minipalette{
  display: flex;
  min-width: 285px; // very important - controls min column width on all breakpoints
}

.minipalette .palette-block{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 0.5rem rgba(#000, 0.15);

  &:not(:first-of-type){
    margin-left: -24px;
  }

}

.megapalette{
  display: flex;
}

.megapalette .palette-block{
  width: 150%;
  border-radius: 50%;
  box-shadow: 0 0.5rem 0.5rem rgba(#000, 0.15);
  margin-left: -25%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

}

.hero{
  min-height: 300px;
  max-height: 900px;
  height: 66vh;
}

button.nav-link{
  background-color: var(--bg-color);
  color: var(--text-color);
}

button.nav-link:hover{
  background-color: var(--text-color);
  color: var(--bg-color);
}

button.nav-link:focus{
  box-shadow: none;
  background-color: var(--text-color);
  color: var(--bg-color);
}

.bi-caret-right{
  transition: transform 0.25s linear;
  transform: rotate(0);
  &.active{
    transform: rotate(90deg);
  }
}

.text-shadow{
  text-shadow: 2px 2px 10px #111;
}

.navbar{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar-adaptive{
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar-adaptive .navbar-nav .show > .nav-link, .navbar-adaptive .navbar-nav .nav-link.active {
  color: var(--text-color);
}

.navbar-adaptive .navbar-nav .nav-link:hover{
  color: var(--text-primary);
}

.navbar-adaptive .navbar-nav .nav-link {
  color: rgba(var(--text-color-r), var(--text-color-g), var(--text-color-b), 0.55);
}

.collapse.width{
  width: 0;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.collapse.width.show {
  width: auto;
  flex-grow: 1;
}

.collapsing.width {
  transition: width 0.35s ease;
}

.section-container{
  // height: clamp(200px, 50%, 800px);
  height: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}


#vac{
  height: calc(100vh - 65px);

  .vac-section.open{
    flex-grow: 1;
  }

  .section-content{
    max-height: calc(100vh - 65px);
    overflow-y: scroll;
    // padding-right: 0.75rem;
    // padding-left: 0.75rem;
  }

  .section-title{
    // min-width: calc(6rem + 2px);
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);

    @media (max-width: 576px) {
      min-width: calc(1.525rem + 3.3vw + 2rem + 1.5px);
    }

    @media (min-width: 577px) and (max-width: 1200px) {
      min-width: calc(1.76rem + 3.3vw + 2rem + 1.5px);
    }
  }

  .section-title a{
    padding: 1rem;
    line-height: 1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    // transform: rotate(-180deg);
  }
}

// .text-darkened{
//   color: var(--text-color);
//   mix-blend-mode: difference;
// }

.gallery-card{
  .card-img-top{
    height: 400px;
    object-fit: cover;
  }
  .card-img{
    height: 600px;
    object-fit: cover;
  }
}

.no-wrap{
  white-space: nowrap;
}

.reactions{
  .btn.like:hover, .btn.like:active{
    i{
      color: red;
    }
    span{
      color: var(--text-color);
    }
  }
  .btn.like{
    i.active{
      color: red;
    }
  }
}
